<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }
        h1 {
            color: #333;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 10px;
        }
        a {
            text-decoration: none;
            color: #007bff;
            font-weight: bold;
        }
        a:hover {
            color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>Welcome to Grillogy Restaurant Review Analysis Dashboard by Taukeer Using Machine Learning, Deep Learning and NLP</h1>
    <ul>
        <li><a href="/positive_reviews">View Positive Reviews</a></li>
        <li><a href="/negative_reviews">View Negative Reviews</a></li>
        <li><a href="/sentiment_distribution">View Sentiment Distribution</a></li>
    </ul>
    <div id="footer-text">
        <p>Manually reading and categorizing a large number of reviews is time-consuming and labor-intensive. Machine learning algorithms can automate this process, making it much faster and more efficient. Businesses can analyze customer reviews to understand customer sentiment towards their products or services. By automatically categorizing reviews as positive or negative, businesses can identify areas for improvement and areas of strength.</p>
    </div>
</body>
</html>
